name: Build Empower Plant .NET MAUI

on:
  push:
    branches:
      - main
      - release/*
  pull_request:
    paths-ignore:
      - "**.md"

env:
  SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_NOLOGO: 1

jobs:
  build:
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-15]

    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 9.0.x

    - name: Install .NET MAUI
      run: dotnet workload install maui

    - name: Restore dependencies
      run: dotnet restore

    # - name: Build Release
    #   run: dotnet build -c Release

    - name: Publish Windows
      if: ${{ (runner.os == 'Windows') }}
      run: dotnet publish -f net9.0-windows10.0.19041.0 -p:RuntimeIdentifierOverride=win10-x64 -p:WindowsPackageType=None -p:WindowsAppSDKSelfContained=true

    - name: Publish Android
      if: ${{ (runner.os == 'Windows') }}
      run: dotnet publish -f net9.0-android

    # error MT4162: The type 'ScreenCaptureKit.SCDisplay' (used as a parameter in ScreenCaptureKit.SCContentFilter._InitWithDisplayExcludingApplications) is not available in MacCatalyst 18.0 (it was introduced in MacCatalyst 18.2). Please build with a newer MacCatalyst SDK (usually done by using the most recent version of Xcode)
    - name: Select Xcode 15.2
      run: sudo xcode-select -s /Applications/Xcode_15.2.app

    - name: Publish macOS
      if: ${{ (runner.os == 'macOS') }}
      run: dotnet publish -f net9.0-maccatalyst -p:CreatePackage=false

    - name: Publish iOS
      if: ${{ (runner.os == 'macOS') }}
      run: dotnet publish -f net9.0-ios

    - name: Publish iOS - Simulator
      if: ${{ (runner.os == 'macOS') }}
      run: dotnet publish -f net9.0-ios -r iossimulator-x64